<template name="card">

  <div class="col-xs-1 card">
    {{!-- cardImage --}}
    {{!-- cardButton --}}
    <svg version="1.1"
      baseProfile="full"
      id="svg-{{num}}"
      class="card-svg"
      width="150px" height="150px"
      viewBox="0 0 1024 768"
      xmlns="http://www.w3.org/2000/svg">
      {{#each path in paths}}
        <path d="{{path}}" />
      {{/each}}
    </svg>
    <button
      class="card-holder {{active}}"
      id="ch-{{num}}">
    </button>
  </div>

</template>

<!-- {{> UI.dynamic template=svgIcon}} -->
