<template name="shape1">
  <div class="col-xs-1" style="position:relative;width:135px;height:135px;">
    <svg version="1.1"
      baseProfile="full"
      id="svg-{{num}}"
      class="shape1"
      width="150px" height="150px"
      viewBox="0 0 1024 768"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M511.9 184l-100 200 100 200 100-200"/>
    </svg>
    <button class="card-holder" id="ch-{{num}}" style="opacity:0.0;position:absolute;top:10px;left:10px;height:115px;width:115px;z-index:1"></button>
  </div>
</template>
<!--  {{> UI.dynamic template=card.shape}} -->
