<template name="board">
  <div class="container-fluid board {{selected}}" id="details">
    <ul class="flex-container">

      {{#each cards}}
      <li class="flex-item">
        {{> card}}
        <!-- <object name="card" class="card pod svgIcon" type="image/svg+xml" data="shape1.svg" </object> -->
      </li>
      {{/each}}
    </ul>

  </div>

  {{#if selectedCard}}
  <div class="details" style="text-align: center">
    <div class="name">{{selectedCard}}</div>
  </div>
  {{else}}
  <div class="message" style="text-align: center">Click a card to select</div>
  {{/if}}
</template>
