<template name="board">
  <div class="container-fluid board {{selected}}" id="details">
    <div class="row row-centered rowspan-3">

      {{#each cards}}
      <div class="col-lg-3 col-centered">{{> card}}
        <object class="svgIcon" type="image/svg+xml" data="{{svgShape}}" fill="red"></object>
        <!-- <img class="pod" src="shape2.svg" alt="" />
          <img class="pod" src="shape3.svg" alt="" /> -->
      </div>
      {{/each}}
    </div>

  </div>

  {{#if selectedCard}}
  <div class="details" style="text-align: center">
    <div class="name">{{selectedCard}}</div>
  </div>
  {{else}}
  <div class="message" style="text-align: center">Click a card to select</div>
  {{/if}}

</template>
