body A {
  font-family: verdana;
  font-size: 10pt;
}

.body {
  font-family: verdana;
  font-size: 10pt;
  text-align: center;
}

//body,td,th {
color: #000;

}
#setsFoundTab table tr #setsFound {
  background-color: #eceeee;
  border-top-color: #CCCCCC;
  border-right-color: #CCCCCC;
  border-bottom-color: #CCCCCC;
  border-left-color: #CCCCCC;
}
